$breakpoint-sm: 400px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 1000px !default;

$breakpoints: (
  "sm": "screen and (max-width: 400px)",
  "md": "screen and (max-width: 768px)",
  "lg": "screen and (max-width: 1000px)",
  "xl": "screen and (max-width: 1200px)",
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// .foo {
//   color: blue;
//   @include mq() { // 引数を省略（初期値はmdの768px）
//     color: yellow;
//   }
//   @include mq(lg) { // 引数を個別に指定
//     color: red;
//   }
// }
